<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Andrew Ye</title>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta name='description' content='Andrew Ye is an undergraduate researcher at Case Western Reserve University.'>
    <!-- A decent browser will parse this fine:
         https://webmasters.stackexchange.com/questions/92744. -->
    <meta name='keywords' content='
        machine learning,
        computational statistics,
        deep learning,
        computer science,
        quantitative finance,
        algorithms
    '>
    <meta name='author' content='Andrew Ye'>
    <link href='/css/main.css' rel='stylesheet'/>
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
  </body>
</html>