<!doctype html>
<html>
  <head>
    <title>Andrew Ye</title>
    <meta name='description' content='Andrew Ye is an undergraduate researcher at Case Western Reserve University.'>
    <link rel="stylesheet" href="/css/main.css">
    {% include site-name.html %}
    {% include meta.html %}
    <link href='/css/main.css' rel='stylesheet'/>
    {% if site.tags != "" %}
      {% include collecttags.html %}
    {% endif %} 
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
  </body>
</html>