<!doctype html>
<html>
  <head>
    <title>Andrew Ye</title>
    <meta name='description' content='Andrew Ye is an undergraduate researcher at Case Western Reserve University.'>
    {% include site-name.html %}
    {% include meta.html %}
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% if page.url == '/'} <script src="assets/js/blackjack.js"></script> {% endif %}
  </head>
  <body>
    <div {% if page.url == '/' %} class="float-child" {% endif %}>
      <h2>{{ page.title }}</h2>
      <div class="content">
      {{ content }}
      </div>
      <div class="links">
          <ul> 
            <li id="email">{{ site.email }}</li> 
            <li> <i class="fa fa-github"></i> 
              <a href="https://github.com/andrewlye" id="github" target=”_blank>
              {{ site.github_username }}
              </a>
            </li>
          </ul>
      </div>
    </div>
    {% if page.url == '/' %}
      <div id="showcase" class="float-child">
        <div id="dealer-cards">
        </div>
        <div id="middle-box">
          <p id="results"></p>
          <p style="display: none;" id='intelligence'></p>
        </div>
        <div id="player-cards">
        </div>    
        <p id="player-action"></p>
        <div id="input-wrapper">
          <div id="input">
            <button id="make-dumber">Make Dumber</button>
            <button id="make-smarter">Make Smarter</button>
          </div>
        </div>
      </div>
    {% endif %}
  </body>
</html>
