<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <h2>{{ page.title }}</h2>
    <div class="content">
    {{ content }}
    </div>
    <div class="links">
        <ul> 
          <li id="email">{{ site.email }}</li> 
          <a href="https://github.com/andrewlye" id="github"><li> <i class="fa fa-github"></i> 
            {{ site.github_username }}
          </li></a>
        </ul>
    </div>
  </body>
</html>