<!doctype html>
<html>
  <head>
    <title>Andrew Ye</title>
    <meta name='description' content='Andrew Ye is an undergraduate researcher at Case Western Reserve University.'>
    {% include site-name.html %}
    {% include meta.html %}
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <h2>{{ page.title }}</h2>
    <div class="float-child">
      <div class="content">
      {{ content }}
      </div>
      <div class="links">
          <ul> 
            <li id="email">{{ site.email }}</li> 
            <li> <i class="fa fa-github"></i> 
              <a href="https://github.com/andrewlye" id="github" target=”_blank>
              {{ site.github_username }}
              </a>
            </li>
          </ul>
      </div>
    </div>
    <div class="float-child">
      <div id="dealer-cards">
        <img src="./assets/images/cards/card_back.png" class="under"> 
        <img src="./assets/images/cards/10-C.png" class="over">
      </div>
      <div id="player-cards">
      </div>
    </div>
  </body>
</html>
