<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name='description' content='{{ page.subtitle }}'>
    {% include site-name.html %}
    {% include meta.html %}
    <link href='/css/main.css' rel='stylesheet'/>
    {% if site.tags != "" %}
      {% include collecttags.html %}
    {% endif %} 
  </head>
  <body>
    {% include navigation.html %}
    <div class="page">
        <h1>{{ page.title }}</h1>
        <div class="content">
        {{ content }}
        </div>
        <div class="blank-space">
        
        </div>
        </div>
  </body>
</html>